{% extends 'food/base.html' %}



{% block body %}
<div class="card mt-4 me-4 ms-4 mb-4">
    <div class="card-header">Add Item</div>
    <div class="card-body">
        <form action="{% url 'food:delete' item.id %}" method="post">
          {% csrf_token %}
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Name:</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="{{ item.name }}" name="name" value="{{ item.name }}" disabled >
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Price:</label>
          <input type="number" class="form-control" id="exampleFormControlInput1" value="{{ item.price }}" name="price" placeholder="Enter price" {% if added %}disabled{% endif %} step=".01" value="{{ item.price }}" disabled>
        </div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">Description:</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" style="height: 30vh;" name="description" disabled>{{ item.description }}</textarea>
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Image URL:</label>
            <input type="url" class="form-control" id="exampleFormControlInput1"  name="image" value="{{ item.image }}" disabled>
        </div>
        <button type="submit" class="btn btn-primary">Delete</button>
      </form>
      </div>
  </div>
{% endblock %}