{% extends 'food/base.html' %}

{% block body %}
<div class="card mt-4 me-4 ms-4 mb-4">
  <div class="card-header">Edit{%if updated %}ed{% endif %} {{ item.name }}</div>
  <div class="card-body">
      <form action="{% url 'food:edit' item.id %}" method="post">
        {% csrf_token %}
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Name:</label>
        <input type="text" class="form-control {% if changes.name %}border border-success{% endif %}" id="exampleFormControlInput1" value="{{ item.name }}" name="name" {% if updated %}disabled{% endif %}>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Price:</label>
        <input type="text" class="form-control {% if changes.price %}border border-success{% endif %}" id="exampleFormControlInput1" value="{{ item.price }}" name="price" {% if updated %}disabled{% endif %} step=".01">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Description:</label>
        <textarea class="form-control {% if changes.description %}border border-success{% endif %}" id="exampleFormControlTextarea1" rows="3" style="height: 30vh;" name="description" {% if updated %}disabled{% endif %}>{{ item.description }}</textarea>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Image URL:</label>
          <input type="url" class="form-control {% if changes.image %}border border-success{% endif %}" id="exampleFormControlInput1" value="{{ item.image }}" name="image" {% if updated %}disabled{% endif %}>
      </div>
      {% if updated is False %}
        <button type="submit" class="btn btn-primary">Save Changes</button>
      {% endif %}
    </form>
    </div>
</div>
{% endblock %}